.navbar {
  display: flex;
  max-height: 35px;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 2px solid rgb(213, 213, 213);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    button {
      font-size: 1.15rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
      svg {
        padding: 0.35rem;
        margin: 0.05rem;
        border-radius: 0.25rem;
        background-color: rgb(237, 237, 237);
        color: #262626;

        &:hover {
          background-color: rgb(217, 216, 216);
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    display: none;
    margin-left: 1rem;
  }
}

.profile_btn {
  display: none;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.526);
  height: 100vh;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

@media screen and (min-width: 1260px) {
  .navbar {
    &__search {
      display: block;
    }

    &__items {
      &__extend {
        display: none;
      }
    }
  }
  .overlay {
    display: none;
  }

  .extend_btn {
    display: none;
  }

  .profile_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    // max-height: 29.2px;
    padding: 0.35rem 0.5rem;
    margin-left: 0.5rem;
    font-family: inherit;
    cursor: pointer;

    img {
      border-radius: 50%;
      width: 29.6px;
      height: 29.6px;
    }

    p {
      margin: 0rem 0.5rem;
      font-size: 0.85rem;
      margin-left: 0.5rem;
      font-weight: 700;
      color: #262626;
    }

    &:hover {
      background-color: rgb(217, 216, 216);
    }
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    padding: 1rem 3rem;
  }
}

// @media screen and (min-width: 1000px) {
//   .navbar {
//     &__search {
//       display: block;
//     }

//     &__items {
//       &__extend {
//         display: none;
//       }
//     }
//   }
//   .overlay {
//     display: none;
//   }

//   .extend_btn {
//     display: none;
//   }

//   .profile_btn {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0.25rem;
//     // max-height: 29.2px;
//     padding: 0.35rem 0.5rem;
//     margin-left: 0.5rem;
//     font-family: inherit;
//     cursor: pointer;

//     img {
//       border-radius: 50%;
//       width: 29.6px;
//       height: 29.6px;
//     }

//     p {
//       margin: 0rem 0.5rem;
//       font-size: 0.85rem;
//       margin-left: 0.5rem;
//       font-weight: 700;
//       color: #262626;
//     }

//     &:hover {
//       background-color: rgb(217, 216, 216);
//     }
//   }
// }

// @media screen and (min-width: 1000px) {
//   .navbar {
//     padding: 1rem 3rem;
//   }
// }
