.page_header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;

  h2 {
    margin: 0;
    color: #262626;
    font-size: 2rem;
  }

  p {
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: #3b82f6;
  }
}
