// closed menu
.sidebar {
  width: 85px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s ease;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: none;
      background-color: transparent;
    }

    svg {
      padding: 1rem;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all 0.5s ease;
      border-radius: 4rem;

      &:hover {
        color: white;
        background-color: #3b82f6;
      }
    }
  }

  h2 {
    display: none;
    margin: 0rem;
    padding: 1rem 2rem;
    color: #2c2c2c;
    letter-spacing: 0.05rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #3b82f6;
    }
  }

  &__item {
    margin-bottom: 2rem;
    h3 {
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      margin: 0rem;
      color: #3f4951;
    }

    &__links {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s ease;

      a {
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        margin: 0.1rem 0rem;
        text-decoration: none;
        font-weight: 600;
        color: #4e4f53;
        transition: all 0.3s ease;

        &:hover {
          background-color: #3b82f6;
          color: white;
        }

        svg {
          font-size: 1.25rem;
        }

        span {
          margin-left: 1rem;
          display: none;
        }
      }
    }
  }
}

.active {
  background-color: #3b82f6;

  svg {
    color: white;
  }

  span {
    color: white;
  }
}

// open menu
.sidebar_open {
  width: 275px;
  max-width: 275px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s ease;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border: none;
      background-color: transparent;
    }

    svg {
      padding: 1rem;
      margin-right: 2rem;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all 0.5s ease;
      border-radius: 4rem;

      &:hover {
        color: white;
        background-color: #3b82f6;
      }
    }
  }

  h2 {
    margin: 0rem;
    padding: 1rem 2rem;
    color: #2c2c2c;
    letter-spacing: 0.05rem;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      color: #3b82f6;
    }
  }

  &__container {
    padding: 1rem 2rem;
  }

  &__item {
    margin-bottom: 2rem;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin: 0rem;
      color: #3f4951;
    }

    &__links {
      margin-top: 0.25rem;
      display: flex;
      flex-direction: column;

      a {
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        margin: 0.1rem 0rem;
        text-decoration: none;
        font-weight: 600;
        color: #4e4f53;
        // transition: all 0.5s ease;

        &:hover {
          background-color: #3b82f6;
          color: white;
        }

        svg {
          font-size: 1.25rem;
        }

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}
