.dashboard {
  margin: 1rem;
  padding-bottom: 2rem;

  &__container {
    width: 100%;
    // &__middle {
    //   display: flex;
    //   align-items: center;
    //   flex-wrap: wrap;
    // }
  }
}

@media screen and (min-width: 1000px) {
  .dashboard {
    margin: 1rem 3rem;
  }
}
