.dropdown {
  top: 65px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 45px;
  background-color: rgb(227, 227, 227);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  &__search {
    margin-left: 2rem;
    width: 100%;
    margin-right: 2rem;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      background-color: rgb(181, 181, 181);
    }

    p {
      margin-left: 0.5rem;
      font-weight: 700;
      font-size: 0.9rem;
      color: #262626;
    }

    img {
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }
  }
}

@media screen and (min-width: 1050px) {
  .dropdown {
    &__search {
      max-width: 250px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .dropdown {
    display: none;
  }
}
